.banner{
    background-image: url("../img/restaurante.webp");
    background-position: top-center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}
.menu{
    background-color:#e3c5d7;
}
.pie{
    background-color: #e3c5d7;
    text-align: center;
    font-family: 'Fasthand', cursive;
}
.tituloR,
.parrafo,
.registro{
    font-family: 'Shadows Into Light', cursive;
}
.parrafo{
    font-size: 25px;
}